.header {
  position: relative;
  top: 0;
  width: 100%;
  height: 80px;
  padding: var(--padding-layout);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.logoText {
  font-size: 2rem;
  color: var(--color-text);
  font-family: 'PuradakGentleGothicR';
}

.navList {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navItem {
  position: relative;
  display: inline-block;
  font-family: 'MaplestoryOTFBold';
  font-size: 1.2rem;
  color: var(--color-text);
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}

.navItem::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #636363;
  z-index: -1;
}

.navItem:hover::after {
  width: 100%;
  left: 0;
  transition: all 0.3s;
}

.burgerMenu {
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}

.miniNavList {
  position: absolute;
  top: 80px;
  right: 0px;
  width: 160px;
  height: 260px;
  background-color: #f2ecec;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  transform: translateY(-130px);
  transition: 0.3s transform ease-in;
  visibility: hidden;

  z-index: 10;
}

.miniNavList.active {
  transform: translateY(0);
  visibility: visible;
}

.miniNavList::after {
  content: '';
  position: absolute;
  top: -12px;
  right: 43px;
  width: 24px;
  height: 24px;
  background-color: #f2ecec;
  transform: rotate(45deg);
}

@media (max-width: 900px) {
  .header {
    padding: 0 40px;
  }

  .navList {
    display: none;
  }

  .burgerMenu {
    display: block;
  }
}
