.footer {
  position: relative;
  bottom: 0;
  font-family: 'Arita-buri-SemiBold';
  width: 100%;
  height: 220px;
  background-color: #d5cabd;
  border-top: 1px solid;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer_left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer_right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer_copy {
}

@media (max-width: 800px) {
  .footer {
    flex-direction: column;
  }

  .footer_left {
    width: 300px;
  }

  .footer_right {
    width: 300px;
  }

  .footer_copy {
    width: 300px;
  }
}
