.container {
  position: relative;
  width: 100%;
  height: 720px;
  padding: var(--padding-layout);
  background-image: url('/public/images/section3.svg');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  height: 56px;
  line-height: 56px;
}

.slide {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;

  display: flex;
  align-items: center;
}

.itemWrapper {
  width: 1800%;
  display: flex;
  gap: calc(145px / 3);
}

.next {
  position: absolute;
  top: 52%;
  right: 5rem;
  transform: translateX(50%);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.prev {
  position: absolute;
  top: 52%;
  left: 5rem;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.icons {
  font-size: 2rem;
  color: #333;
}

@media (max-width: 1400px) {
  .slide {
    width: calc(280px * 3 + (145px / 3) * 2);
    align-self: center;
  }

  .prev {
    left: calc((100vw - (280px * 3 + (145px / 3) * 2)) / 2 - 5px);
  }

  .next {
    right: calc((100vw - (280px * 3 + (145px / 3) * 2)) / 2 - 5px);
  }
}

@media (max-width: 1000px) {
  .slide {
    width: calc(280px * 2 + (145px / 3));
    align-self: center;
  }

  .prev {
    left: calc((100vw - (280px * 2 + (145px / 3))) / 2 - 5px);
  }

  .next {
    right: calc((100vw - (280px * 2 + (145px / 3))) / 2 - 5px);
  }
}

@media (max-width: 650px) {
  .slide {
    width: calc(280px + (145px / 3));
    align-self: center;
  }

  .prev {
    left: calc((100vw - (280px + (145px / 3))) / 2 + 15px);
  }

  .next {
    right: calc((100vw - (280px + (145px / 3))) / 2 + 15px);
  }

  .itemWrapper {
    padding-left: calc((145px / 3) / 2);
  }
}
